config ZMK_BLE
    default y

config ZMK_USB
    default y

if SHIELD_cygnus_LEFT

config ZMK_KEYBOARD_NAME
	default "cygnus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_cygnus_LEFT || SHIELD_cygnus_RIGHT

config ZMK_SPLIT
    default y

endif
