#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &kp Q &kp W &kp F &kp B &kp P          &kp J &kp L &kp U &kp Y &kp P
   &kp A &kp R &kp S &kp T &kp G          &kp M &kp N &kp E &kp I &kp O
   &kp Z &kp X &kp C &kp D &kp V          &kp K &kp H &kp COMMA &kp DOT &kp SLASH
               &kp ESC &kp TAB &kp SPACE  &kp ENTER &kp BACKSPACE &kp DEL
                        >;
                };
        };
};
