#define BASE_LAYER 0
#define LEFT_LAYER 1
#define RIGHT_LAYER 2
#define COMBO_LAYER 3

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define SFT MOD_LSFT|MOD_RSFT

/ {
    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        _LPRN: _LPRN {
            compatible = "zmk,behavior-mod-morph";
            label = "_LPRN";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LEFT_BRACE>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _RPRN: _RPRN {
            compatible = "zmk,behavior-mod-morph";
            label = "_RPRN";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _SLASH: _SLASH {
            compatible = "zmk,behavior-mod-morph";
            label = "_SLASH";
            bindings = <&kp SLASH>, <&kp NON_US_BACKSLASH>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _LBRKT: _LBRKT {
            compatible = "zmk,behavior-mod-morph";
            label = "_LBRKT";
            bindings = <&kp LEFT_BRACKET>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _RBRKT: _RBRKT {
            compatible = "zmk,behavior-mod-morph";
            label = "_RBRKT";
            bindings = <&kp RIGHT_BRACKET>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _COL: _COL {
            compatible = "zmk,behavior-mod-morph";
            label = "_COL";
            bindings = <&kp COLON>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _QUOT: _QUOT {
            compatible = "zmk,behavior-mod-morph";
            label = "_QUOT";
            bindings = <&kp DOUBLE_QUOTES>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _DOT_QUES: _DOT_QUES {
            compatible = "zmk,behavior-mod-morph";
            label = "_DOT_QUES";
            bindings = <&kp PERIOD>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _COM_EXCL: _COM_EXCL {
            compatible = "zmk,behavior-mod-morph";
            label = "_COM_EXCL";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _EQL: _EQL {
            compatible = "zmk,behavior-mod-morph";
            label = "_EQL";
            bindings = <&kp EQUAL>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _UNDS: _UNDS {
            compatible = "zmk,behavior-mod-morph";
            label = "_UNDS";
            bindings = <&kp UNDERSCORE>, <&kp UNDERSCORE>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _COM_DOT: _COM_DOT {
            compatible = "zmk,behavior-mod-morph";
            label = "_COM_DOT";
            bindings = <&kp COMMA>, <&kp PERIOD>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _BSP_DEL: _BSP_DEL {
            compatible = "zmk,behavior-mod-morph";
            label = "_BSP_DEL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _N9_TLD: _N9_TLD {
            compatible = "zmk,behavior-mod-morph";
            label = "_N9_TLD";
            bindings = <&kp N9>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };

        _MNS_PLS: _MNS_PLS {
            compatible = "zmk,behavior-mod-morph";
            label = "_MNS_PLS";
            bindings = <&kp MINUS>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(SFT)>;
        };
    };

    macros {
        MA_EQL: MA_EQL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp EQUAL>, <&macro_press>;

            label = "MA_EQL";
        };

        MA_POINTER: MA_POINTER {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "MA_POINTER";
        };

        MA_OR: MA_OR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PIPE &kp PIPE>;
            label = "MA_OR";
        };

        MA_AND: MA_AND {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AMPS &kp AMPS>;
            label = "MA_AND";
        };
    };

    combos {
        compatible = "zmk,combos";

        alt_tab {
            bindings = <&kp LA(TAB)>;
            key-positions = <24 0>;
            layers = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE_LAYER {
            bindings = <
&gresc          &kp L       &kp W    &kp P        &kp B             &kp K        &kp F          &kp U       &kp O           &_SLASH
&ht LSHFT A     &ht LALT R  &kp S    &ht LCTRL T  &ht LEFT_WIN G    &ht LWIN H   &ht LCTRL N    &kp E       &ht LEFT_ALT I  &ht RIGHT_SHIFT Y
&kp LEFT_SHIFT  &kp X       &kp C    &kp D        &kp V             &kp Z        &kp M          &kp J       &kp Q           &_QUOT
                            &kp TAB  &_COM_DOT    &lt 1 SPACE       &lt 2 ENTER  &kp BACKSPACE  &_DOT_QUES
            >;

            label = "BASE_LAYER";
        };

        LEFT_LAYER {
            bindings = <
&none  &kp HOME   &kp UP    &kp END    &none    &none  &none  &none  &none  &none
&none  &kp LEFT   &kp DOWN  &kp RIGHT  &none    &none  &none  &none  &none  &none
&none  &kp PG_DN  &none     &kp PG_UP  &none    &none  &none  &none  &none  &none
                  &none     &none      &none    &none  &none
            >;

            label = "LEFT_LAYER";
        };

        RIGHT_LAYER {
            bindings = <
&none   &kp N1  &kp N2  &kp N3    &none          &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_UNDO
&kp N0  &kp N4  &kp N5  &kp N6    &none          &caps_word  &kp LEFT     &kp DOWN    &kp UP     &kp RIGHT
&none   &kp N7  &kp N8  &_N9_TLD  &none          &kp INS     &kp HOME     &kp PG_DN   &kp PG_UP  &kp END
                &none   &none     &lt 3 SPACE    &none       &none        &none
            >;

            label = "RIGHT_LAYER";
        };

        COMBO_LAYER {
            bindings = <
&kp F10  &kp F1  &kp F2  &kp F3  &none    &none  &none  &none  &none  &none
&kp F11  &kp F4  &kp F5  &kp F6  &none    &none  &none  &none  &none  &none
&kp F12  &kp F7  &kp F8  &kp F9  &none    &none  &none  &none  &none  &none
                 &none   &none   &none    &none  &none  &none
            >;

            label = "COMBO_LAYER";
        };
    };
};
